body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Georgia;
    color: white;

}
#baner, footer{
    background-color: maroon;
    text-align: center;
    padding: 2px;
}
#lewy, #srodkowy, #prawy{
    background-color: lightsalmon;
    height: 527px;
}
#lewy, #prawy{
    flex: 1 1 15%;
}
#srodkowy{
    flex: 1 1 70%;
    
}
#miniatury{
    background-color: maroon;
    height: 70px;
}
button{
    background-color: lightsalmon;
    color: maroon;
    border: none;
    font-size: 400%;
    display: block;
    margin: auto;
    padding-top: 210px;
}
#obraz2{
    height: 70px;
    animation-name: przesuwanie;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes przesuwanie {
    from{
        padding-left: 50px;
    }to{
        padding-left: 0px;
    }
}
#obraz_srodkowy{
    margin: auto;
    padding-top: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
}
footer{
    flex: 1 1 100%;
}
#baner{
    flex: 1 1 100%;
}
