body{
    font-family: Helvetica;
    background-color: lightsalmon;
    text-align: center;

}
.container{
    display: flex;
    flex-direction: wrap;

}
.lewy{
    flex: 1 1 30%;
    height: 400px;
}
.lewy1{
    background-color: darksalmon;
    flex: 1 1 70%;
    height: 500px;
    overflow: auto;
}
img{
    flex: 1 1 100%;
}
