body{
    font-family: tahoma;

}
header{
    background-color: tomato;
    color: white;
    padding: 10px;
}
main{
    background-color: seashell;
    height: 500px;
    overflow: auto;
}
footer{
    background-color: tomato;
    color: white;
    width: 25%;
    height: 160px;
    float: left;
}
section{
    background-color: white;
    color: dimgray;
    width: 60%;
    height: 220px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 10px 5px dimgray;
}
img{
    float: left;
    margin: 10px;
    border-radius: 10px;
}
blockquote{
    padding: 10px;
    font-size: 150%;
    font-style: italic;
}
h1, h2{
    text-align: center;
}
h4{
    text-align: right;
    margin-right: 40px;
    font-size: 150%;
    font-style: italic;
}
a{
    color: white;
}