body {
  font-family: cambria;
}
.baner {
  background-color: #c2185b;
  color: white;
  text-align: center;
  padding: 15px;
  clear: both;
}
main {
    background-image: url(tulipany.jpg);  
    height: 500px;                   
}
footer {
  background-color: #c2185b;
  color: white;
  width: 25%;
  height: 240px;
  float: left;
}
.blok1,
.blok2,
.blok3 {
  float: left;
  background-color: #fce4ec;
  width: 25%;
  height: 300px;
  margin: 25px;
  padding: 16px;
}
.blok2,
.blok3 {
  display: none;
}
p {
  padding-top: 20px;
}
a {
  color: white;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]{
    width: 80%;
    height: 30px;
    margin: 10px;
}
input[type="submit"]{
    background-color: #c2185b;
    color: white;
    margin-top: 50px;
    margin-left: 60%;
    padding: 20px;
    border: none;
}
video{
    width: 100%;
    height: 100%;
}

.blok2{
    margin-left: 30%;
}
.blok3{
    margin-left: 60%;
}