body{
    font-family: arial;
    background-color: antiquewhite;
}
.baner{
    background-color: #7B5E57;
    color: white;
    text-align: center;
}
.wizytowki{
    color: #5D4037;
    max-width: 300px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
    box-shadow: 0px 0px 20px grey;
}
.stopka1, .stopka3{
    background-color: #7B5E57;
    color: white;
    height: 200px;
    width: 33%;
}
.stopka2{
    background-color: #7B5E57;
    color: white;
    height: 200px;
    width: 34%;
}
.wizytowki img{
    width: 100%;
    padding-bottom: 20px;
}
h1{
    font-weight: 300;
}
input[type="number"], input[type="submit"]{
    background-color: #7B5E57;
    color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid white;
}
input[type="submit"]:hover{
    background-color: white;
    color: #7B5E57;
}
footer{
    float: left;
}
main, header{
    clear: both;
}