body{
    
    font-family: Georgia;
    text-align: center;
    background-color: lightsteelblue;
}
form{
    padding-top: 20px;
    width: 100%;
}
main{
    overflow: auto;
    padding: 30px;
    height: 400px;
    width: 100%;
}
footer{
    background-color: orange;
    padding: 10px;
    width: 100%;
}
img{
    width: 80%;
}
table{
    width: 70%;
    margin: auto;
    border: 1px solid maroon;
}
table tr:hover{
    background-color: steelblue;
    color: white;
}
header{
    width: 100%;
    
}