body{
    font-family: verdana;
}
.baner1{
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
    float: left;
}
.baner2{
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
    float: left;
}
nav, main{
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
    clear: both;
}
footer{
    background-color: #29434E;
    color: white;
}
section{
    padding: 5px;
    width: 226px;
    height: 280px;
    float: left;
}
h3{
    background-color: #546E7A;
    color: white;
    margin: 0px;
}
h4{
    text-align: center;
    margin: 0px;
}
