header, main{
    float: left;
}
aside{
    float: right;
}
footer{
    clear: both;
}

body{
    font-family: garamond;
}
.baner{
    background-color: tomato;
    color: white;
    text-align: center;
    width: 80%;
    height: 80px;
}
main{
    width: 80%;
    height: 600px;
}
aside{
    background-color: coral;
    width: 20%;
    height: 680px;
}
footer{
    background-color: tomato;
    color: white;
    text-align: center;
}
img{
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.blok_chatu{
    border: 1px solid tomato;
    margin: 15px;
    height: 470px;
    overflow: scroll;
}
.wypowiedz1, .wypowiedz2{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
.wypowiedz1{
    background-color: #eee;
}
.wypowiedz1 img{
    float: left;
}
.wypowiedz2{
    background-color: #ccc;
    text-align: right;
}
.wypowiedz2 img{
    float: right;
}
input[type="submit"]{
    background-color: tomato;
    border: 1px solid darkred;
    padding: 5px;
    font-weight: bold;
}
input[type="text"]{
    width: 500px;
}