body{
    font-family: verdana;
}
.gorny1, .gorny2{
    background-color: seagreen;
    color: white;
    line-height: 150px;
    height: 260px;
    font-size: 160%;
    float: left;
}
.gorny1{
    width: 75%;
}
.gorny2{
    width: 25%;
    text-align: right;

}
main{
    background-color: mintcream;
    padding: 80px;
}
footer{
    background-color: seagreen;
    color: white;
    width: 50%;
    height: 70px;
    text-align: center;
    float: left;
}
input{
    margin-bottom: 20px;
}
img{
    box-shadow: 15px 15px 10px dimgray;
}
a{
    text-decoration: none;
    background-color: mintcream;
    color: seagreen;
    padding: 15px;
    line-height: 70px;
}