body{
    font-family: georgia;

}
.lewy{
    background-color: maroon;
    color: white;
    height: 600px;
    width: 30%;
    float: left;
}
.prawy{
    background-color: maroon;
    color: white;
    height: 600px;
    width: 70%;
    overflow: auto;
    float: right;

}
footer{
    background-color: dimgray;
    color: white;
    clear: both;
}
.prawy img, .prawy ul{
    float: left;
}
.prawy p{
    clear: both;
}
p{
    padding: 10px;
}
img{
    padding: 10px;
    border: 1px solid white;
}
.Indigo{
    background-color: indigo;
}
.SteelBlue{
    background-color: SteelBlue;
}
.Olive{
    background-color: Olive;
}
